body {
    /* margin: 50px 140px 0px 140px; */
    /* background-attachment: fixed; */
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url('../assets/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* background-color: red; */
    /* justify-content: center;
    align-items: center; */
    /* filter: brightness(0.8); */
}

.b-title {
    color: #FFF;
    /* text-align: center; */
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    /* background-color: red; */
    /* margin-bottom: 16px; */

}

.b-heading {
    color: #FFF;
    /* text-align: center; */
    font-size: 72px;
    font-weight: 900;
    /* width: 632px; */
    /* line-height: 1.2; */
    /* background-color: red; */
}

.offer {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

.our-holiday-text {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 16px; */
}

.all-categories-text {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.new-year-photo {
    text-align: center;
}

.second-banner {
    width: 100%;
    height: 600px;
    background-image: url('../assets/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    /* background-color: red; */
}

.second-banner-content {
    /* background-color: blue; */
}

.welcome-text-box {
    width: 642px;
    height: fit-content;
    /* background-color: #070211; */
}

.welcome-text {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.second-banner-text-box {
    width: 697px;
    height: fit-content;
    margin-top: 2px;
    /* background-color: rebeccapurple; */
}

.second-banner-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}

.join-text {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.location-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* background-color: #070211; */
}

.location-child-div {
    width: 1320px;
    height: 482px;
    /* background-color: red; */
    background-color: rgb(249, 229, 232);
    border-radius: 10px;
    margin-top: 120px;
    text-align: center;
    padding-top: 100px;
}

.location-text {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.location-text-title {
    color: #F00;
}

.join-now-button {
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    /* margin-top: 48px; */
}

.third-banner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.third-banner {
    width: 1320px;
    height: 463px;
    display: flex;
    /* gap: 90px; */
}

/* third banner divs style  */

.third-banner-one {
    width: 393px;
    margin-right: 70px;
}

.third-banner-two {
    width: 463px;

}

.third-banner-three {
    width: 276px;
    margin-left: 118px;
}

.third-banner-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.third-banner-one-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0%;
}

.third-banner-one-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.third-banner-three-title {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.what-is-text {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.holiday-sale-text {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

.holiday-sales-description-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 64px;
}

.holiday-sale-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 800px;
    height: 96px;
}

.holidays-text {
    color: #F00;
}

.fourth-banner-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    margin-bottom: 120px;
}

.fourth-banner-child-div {
    /* display: flex; */
    width: 1320px;
}

.gift-box {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.red-image {
    width: fit-content;
    height: fit-content;
}

.two-rectangel-div {
    display: flex;
}

.girl-obaak {
    height: 433px;
    width: fit-content;
    /* position: relative; */
    margin-left: 890px;
    /* background-color: aqua; */

}

.discout-image {
    height: fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 740px;
    margin-top: 80px;
}

.fifth-banner-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-banner-text {
    width: 1320px;
}

.the-best-gift {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0%;
}

.awsome-portfolio-text {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.fifth-banner-description-div {
    width: 896px;
    height: fit-content;
    margin-top: 0%;
    margin-bottom: 48px;
}

.fifth-banner-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.fifth-banner-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}

.fifth-banner-child-div {
    width: 1320px;
    height: 924px;
    /* background-color: #F00; */
}

.fifth-banner-image {
    padding: 6px;
}

.fifth-banner-image:hover {
    background-color: red;
    border-radius: 16px;
}

.sixth-banner-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}

.sixth-banner-child-div {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.sixth-banner-heading {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}

.sixth-banner-description-div {
    /* width: 896px; */
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    margin-bottom: 48px;
}

.sixth-banner-description {
    color: rgba(7, 2, 17, 0.60);
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
}

.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.sixth-banner-input {
    border: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    width: 438px;
    /* height: 72px; */
    padding: 25px 30px;
    /* flex-shrink: 0; */
    font-size: 18px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.30);
}

.subscribe {
    width: 210px;
    padding: 24px 56px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
}

.mail-icon {
    margin-top: 80px;
    margin-bottom: 0%;
}

.footer {
    background: #070211;
    padding: 120px 140px;
}

.footer-div-one {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 560px; */

}

.footer-div-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.footer-div-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px 0px;
}

.footer-div-three{
    display: flex;
    justify-content: space-between;

}

