body {
    /* margin: 50px 140px 0px 140px; */
    /* background-attachment: fixed; */
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url('../assets/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* background-color: red; */
    /* justify-content: center;
    align-items: center; */
    /* filter: brightness(0.8); */
}

.b-title {
    color: #FFF;
    /* text-align: center; */
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    /* background-color: red; */
    /* margin-bottom: 16px; */

}

.b-heading {
    color: #FFF;
    /* text-align: center; */
    font-size: 72px;
    font-weight: 900;
    /* width: 632px; */
    /* line-height: 1.2; */
    /* background-color: red; */
}

.offer {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

.our-holiday-text {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 16px; */
}

.all-categories-text {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.new-year-photo {
    text-align: center;
}

.second-banner {
    width: 100%;
    height: 600px;
    background-image: url('../assets/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    /* background-color: red; */
}

.second-banner-content {
    /* background-color: blue; */
}

.welcome-text-box {
    width: 642px;
    height: fit-content;
    /* background-color: #070211; */
}

.welcome-text {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.second-banner-text-box {
    width: 697px;
    height: fit-content;
    margin-top: 2px;
    /* background-color: rebeccapurple; */
}

.second-banner-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}

.join-text {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.location-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* background-color: #070211; */
}

.location-child-div {
    width: 1320px;
    height: 482px;
    /* background-color: red; */
    background-color: rgb(249, 229, 232);
    border-radius: 10px;
    margin-top: 120px;
    text-align: center;
    padding-top: 100px;
}

.location-text {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.location-text-title {
    color: #F00;
}

.join-now-button {
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    /* margin-top: 48px; */
}

.third-banner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.third-banner {
    width: 1320px;
    height: 463px;
    display: flex;
    /* gap: 90px; */
}

/* third banner divs style  */

.third-banner-one {
    width: 393px;
    margin-right: 70px;
}

.third-banner-two {
    width: 463px;

}

.third-banner-three {
    width: 276px;
    margin-left: 118px;
}

.third-banner-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.third-banner-one-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0%;
}

.third-banner-one-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.third-banner-three-title {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.what-is-text {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.holiday-sale-text {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

.holiday-sales-description-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 64px;
}

.holiday-sale-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 800px;
    height: 96px;
}

.holidays-text{
    color: #F00;
}